fastapi
uvicorn[standard]
psycopg2-binary
SQLAlchemy
alembic
python-jose[cryptography]
passlib[bcrypt]==1.7.4
bcrypt==4.0.1
pydantic[email]
email-validator
python-dotenv
scikit-learn
joblib
python-multipart
requests
